@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(300deg, #CED1D6, #a5a5a5);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    min-height: 100vh;
}

input {
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    border: none;
    padding: 1rem;
    font-family: inherit;
    min-width: 300px;
}

input:focus {
    outline: none;
}


.weather {
    text-align: center;
}

.weather h2 {
    text-align: center;
    font-size: 2rem;
}

.weather small {
    margin-bottom: 0;

}

.weather img {
    transform: scale(2);
}
